<!DOCTYPE html>
<html>
<head>
	<title>Products Catalog</title>
</head>
<body>
	<h1>{{product.name}}</h1>
	<form action="/product/{{product.id}}" method="post"s>
		Manufacturer/Brand:
		<select name="manufacturer">
			<option value="Kenneth_Cole">Kenneth Cole</option>
			<option value="Gap">Gap</option>
			<option value="Rudy_Project">Rudy Project</option>
			<option value="Samsung">Samsung</option>
		</select><br>
		<label for="name">Product Name:</label>
		<input type="text" name="name" id="name"><br><br>
		<label for="price">Price ($):</label>
		<input type="text" name="price"><br>
		Description:<textarea rows ="10" cols"50" name="description"></textarea><br>
		<button>Update</button>
	</form>	
	<form action="/delete/{{product.id}}" method="GET">
		<button>Delete</button>
	</form>
</body>
</html>