<!DOCTYPE html>
<html>
<head>
	<title>Survey Form</title>
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'random_word/style.css' %}">
</head>
<body>
	{% load staticfiles %}
	<div id="wrapper">
		<h3>Random Word (attempt #{{request.session.attempt}})</h3>
	</div>
	<div id="string_box">
		<h2>{{request.session.my_string}}</h2>
	</div>
	<div id="button">
		<form action="{% url 'random_word' %}" method="post">
			{% csrf_token %}
			<button>Generate</button>
	</form>
	</div>
</body>
</html>